/* Google Font Definitions
font-family: 'Lato', sans-serif;
font-family: 'Merriweather', serif;
*/
/* Home page styles */
html, body { height: 100%; letter-spacing: 0.06rem; }

h2 {
  font-size: 3em;
}

::selection {
  background: #3498DB; /* Safari */
  color: #fff;
  }
::-moz-selection {
  background: #3498DB; /* Firefox */
  color: #fff;
}

p a {
  color: #3498DB;
}

p a:hover {
  color: #2980B9;
}

#header {
  height: 100%;
  background: #fff url(../img/header-2.jpg) left center no-repeat;
  background-size: cover;
  position: relative;
  min-height: 550px;
}

#header .row, #header .columns {
  height: 100%;
}

#header .content {
  position: absolute;
  bottom: 10%;
}

#intro {
  border-bottom: solid 5px #fff;
}

#intro h2 {
  color: #fff;
  width: 60%;
  font-weight: 300;
}

#navigation {
  margin-top: 1em;
}

#navigation a {
  float: left;
  color: #fff;
  margin-right: 30px;
  font-size: 1.2em;
  font-weight: 300;
  cursor: pointer;
}

#navigation a:hover {
  color: #3498DB;
  cursor: pointer;
}

/* about styles */

#about {
  background: #F4F4F4;
  padding: 8em 0;
}

#about h2 {
  color: #555555;
  margin-bottom: 1em;
  text-decoration: underline;
}

#about p {
  font-weight: 300;
  color: #a2a2a2;
  font-size: 1.7em;
}

#about h2 a {
  color: #555555;
}

#about h2 span {
  color: #3498DB;
}

#about h2 span:hover {
  color: #2980B9;
}

/* Portfolio */

#portfolio {
  padding: 3em 0;
  background: #181818;
  text-align: center;
  color: #fff;
}

#portfolio h2 {
  color: #fff;
  border-bottom: solid 1px #fff;
  font-size: 2em;
  text-align: left;
}

#portfolio .project h4 {
  color: #fff;
  margin-left: 10px;
  margin: 0;
  text-transform: uppercase;
  text-shadow: 0 0 10px rgba(0,0,0,0.5);
}

#portfolio .project ul {
  margin: 0;
}

#portfolio .project li {
  margin: 0;
  list-style-type: none;
  display: inline-block;
  padding: 0 5px;
  text-transform: uppercase;
  color: rgba(255,255,255,0.6);
  font-size: 0.8em;
  text-shadow: 0 0 10px rgba(0,0,0,0.5);
}

#portfolio .project li:first-child {
  padding-left: 0;
}

#portfolio .project {
  position: relative;
  overflow: hidden;
  text-align: left;
}

#portfolio .project a:hover .bg {
  background: transparent;
}

#portfolio .project .info {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 10px;
  z-index: 2;
}

#portfolio .project .bg {
  position: absolute;
  background: rgba(0,0,0,0.45);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  transition: 1s linear all;
}

#portfolio .project a {
  display: block;
  height: 100%;
  width: 100%;
  position: relative;
  padding-top: 100%;
  background-size: cover !important;
  background-position: center center !important;
  transition: 1s linear all;
}

/* contact styles */

#contact {
  padding: 8em 0;
  background-color: #3498DB;
  text-align: center;
  position: relative;
}

#contact h2 {
  margin: 0;
}

#contact .button {
  background: transparent;
  border: solid 3px #fff;
}

#contact .button:hover {
  background: #fff;
  color: #333;
}

#contact .connections {
  text-align: justify;
  width: 80px;
  display: inline-block;
  margin-top: 2em;
}

#contact .connections i {
  font-size: 2em;
  color: #fff;
  display: inline-block;
}

#contact .connections i.break {
  width: 100%;
  height: 0;
}

#contact .actions-wrapper {
  height: 60px;
  margin: 2em 0;
}

#contact form {
  display: none;
  /*margin: 2em 0;*/
}

#contact form input[type='text'] {
  float: left;
  margin-top: 1%;
  background: transparent;
  border: none;
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  border-bottom: dotted 2px #fff;
  font-size: 2rem;
  color: #fff;
  padding: 2rem 0;
}

#contact form input[type='submit'] {
  float: left;
  margin: 0;
  width: 100%;
  margin-top: 1rem;
}

#contact h3 {
  display: none;
  color: #fff;
}

/* thanks */

#thanks p {
  text-align: center;
  background-color: #3498DB;
  font-size: 1.2em;
  font-weight: 300;
  padding: 1em;
  margin-bottom: 0;
}

#thanks a {
  color: #fff;
}

/* Work */

#work .project h2 {
  color: #fff;
}

#work .project {
  padding: 10rem 0 0;
}

#work .project img {
  display: block;
}

#work .project .tags li {
  background: rgba(255, 255, 255, 0.2);
  color: rgba(255,255,255, 0.7);
}

#work .project .info ul {
  margin-left: 0;
}

#work .project .info ul li:first-child {
  margin-left: 0;
}

#work .button {
  background: transparent;
  border: solid 3px #fff;
  margin-bottom: 0;
}

#work .button:hover {
  background: #fff;
  color: rgba(0,0,0,0.8);
}

#work p {
  color: rgba(255,255,255, 0.5);
}

#work .info {
  padding-left: 3rem;
}

/* strayhouse */

#work .project.strayhouse h2 {
  color: #333;
}

#work .project.strayhouse .tags li {
  background: rgba(33, 33, 33, 0.2);
  color: rgba(33,33,33, 0.7);
}

#work .project.strayhouse .button {
  background: transparent;
  border: solid 3px #333;
  color: #333;
  margin-bottom: 0;
}

#work .project.strayhouse .button:hover {
  background: #333;
  color: rgba(255,255,255,0.8);
}

#work .project.strayhouse p {
  color: rgba(33,33,33, 0.5);
}

/* armada */

#work .project.armada h2 {
  color: #333;
}

#work .project.armada .tags li {
  background: rgba(33, 33, 33, 0.2);
  color: rgba(33,33,33, 0.7);
}

#work .project.armada .button {
  background: transparent;
  border: solid 3px #333;
  color: #333;
  margin-bottom: 0;
}

#work .project.armada .button:hover {
  background: #333;
  color: rgba(255,255,255,0.8);
}

#work .project.armada p {
  color: rgba(33,33,33, 0.5);
}

/* qadosh */

#work .project.qadosh h2 {
  color: #333;
}

#work .project.qadosh .tags li {
  background: rgba(33, 33, 33, 0.2);
  color: rgba(33,33,33, 0.7);
}

#work .project.qadosh .button {
  background: transparent;
  border: solid 3px #333;
  color: #333;
  margin-bottom: 0;
}

#work .project.qadosh .button:hover {
  background: #333;
  color: rgba(255,255,255,0.8);
}

#work .project.qadosh p {
  color: rgba(33,33,33, 0.5);
}

#more-work {
  padding: 2rem 0;
  color: #333;
}

#more-work p {
  color: #333;
  margin-bottom: 0;
  line-height: 58px;
}

#more-work .button {
  background: transparent;
  border: solid 3px #333;
  color: #333;
  margin-bottom: 0;
}

#more-work .button i.fa-chevron-right {
  margin-left: 5px;
}

#more-work .button i.fa-chevron-left {
  margin-right: 5px;
}

.post-wrapper p {
  letter-spacing: .01rem;
  font-style: normal;
  font-size: 22px;
  line-height: 1.5;
  color: #888;
  font-weight: 100;
}

.post-wrapper blockquote {
  border: none;
  margin: 0;
  padding: 0;
}

.post-wrapper blockquote p {
  font-style: italic;
  color: #f36;
  margin: 40px auto !important;
  text-align: center;
  width: 80% !important;
  font-size: 30px;
}

.post-wrapper h2 {
  font-weight: 700;
  margin-top: 2rem;
}

.post-wrapper h3 {
  border-left: solid 5px #333;
  padding-left: 20px;
  position: relative;
  left: -25px;
}

.post-wrapper .details {
  padding: 1em 0;
  box-shadow: 0 0px 2px rgba(0,0,0,0.3);
  position: relative;
}

.post-wrapper .details ul {
  margin-top: 10px;
  margin-bottom: 0;
  margin-left: 0;
}

.post-wrapper .details li, .project .tags li {
  line-height: 1.5rem;
  border-radius: 0.75rem;
  background-color: #e1e1e3;
  color: #494a4e;
  font-size: 0.7rem;
  padding: 0 0.5rem;
  display: inline-block;
  white-space: nowrap;
  margin-left: 0.8em;
  margin-bottom: 10px;
}

.post-wrapper .details .button {
  margin-bottom: 0;
}

.post-wrapper .mockup {
  padding-top: 2rem;
}

.post-wrapper .mockup a {
  padding-bottom: 2rem;
  display: inline-block;
  color: #fff;
}

.post-wrapper .mockup a .icon {
  margin-right: 5px;
  position: relative;
  top: 1px;
}

.post-wrapper .post-footer {
  padding: 2rem 0;
  color: #fff;
  margin-top: 2rem;
}

.post-wrapper .post-footer p {
  color: #fff;
  margin-bottom: 0;
  line-height: 58px;
}

.post-wrapper .post-footer .button {
  background: transparent;
  border: solid 3px #fff;
  margin-bottom: 0;
}

/* per project styles */
/* promotr */

.post-wrapper.promotr-post .mockup {
  background: #FF6A53;
}

.post-wrapper.promotr-post .mockup img {
  width: 100%;
}

.post-wrapper.promotr-post blockquote p {
  color: #FF6A53;
}

.post-wrapper.promotr-post .button {
  background: #FF6A53;
}

.post-wrapper.promotr-post .post-footer {
  background: #FF6A53;
}

.post-wrapper.promotr-post h3 {
  border-color: #FF6A53;
}

/* lifechurch.tv */

.post-wrapper.lifechurch-post .mockup {
  background: #B9252D;
}

.post-wrapper.lifechurch-post .mockup img {
  width: 100%;
}

.post-wrapper.lifechurch-post blockquote p {
  color: #B9252D;
}

.post-wrapper.lifechurch-post .button {
  background: #B9252D;
}

.post-wrapper.lifechurch-post .post-footer {
  background: #B9252D;
}

.post-wrapper.lifechurch-post .values {
  background: url('/img/posts/whoweare-bg.jpg') center center;
  margin-left: -15%;
  margin-right: -15%;
  padding: 10rem 0;
}

.post-wrapper.lifechurch-post .values blockquote {
  margin: 0;
}

.post-wrapper.lifechurch-post .values blockquote p {
  color: #fff;
}

.post-wrapper.lifechurch-post h3 {
  border-color: #B9252D;
}

/* Lab Twenty One */

.post-wrapper.level-7-concepts-post .mockup {
  background: #3a40d4;
}

.post-wrapper.level-7-concepts-post .mockup img {
  width: 100%;
}

.post-wrapper.level-7-concepts-post blockquote p {
  color: #3a40d4;
}

.post-wrapper.level-7-concepts-post .button {
  background: #3a40d4;
}

.post-wrapper.level-7-concepts-post .post-footer {
  background: #3a40d4;
}

.post-wrapper.level-7-concepts-post .values {
  background: url('/img/posts/whoweare-bg.jpg') center center;
  margin-left: -100%;
  margin-right: -100%;
  padding: 10rem 0;
}

.post-wrapper.level-7-concepts-post .values blockquote {
  margin: 0 30%;
}

.post-wrapper.level-7-concepts-post .values blockquote p {
  color: #fff;
}

.post-wrapper.level-7-concepts-post h3 {
  border-color: #3a40d4;
}

/* Raisemore */

.post-wrapper.raisemore-post .mockup {
  background: #6DC039;
}

.post-wrapper.raisemore-post .mockup img {
  width: 100%;
}

.post-wrapper.raisemore-post blockquote p {
  color: #6DC039;
}

.post-wrapper.raisemore-post .button {
  background: #6DC039;
}

.post-wrapper.raisemore-post .post-footer {
  background: #6DC039;
}

.post-wrapper.raisemore-post .values blockquote {
  margin: 0 30%;
}

.post-wrapper.raisemore-post .values blockquote p {
  color: #fff;
}

.post-wrapper.raisemore-post h3 {
  border-color: #6DC039;
}

/* Strayhouse */

.post-wrapper.strayhouse-post .mockup {
  background: #fff;
}

.post-wrapper.strayhouse-post .mockup a {
  color: #333;
}

.post-wrapper.strayhouse-post .mockup img {
  width: 100%;
}

.post-wrapper.strayhouse-post blockquote p {
  color: #333;
}

.post-wrapper.strayhouse-post .button {
  background: #333;
}

.post-wrapper.strayhouse-post .post-footer {
  background: #333;
}

.post-wrapper.strayhouse-post .values blockquote {
  margin: 0 30%;
}

.post-wrapper.strayhouse-post .values blockquote p {
  color: #fff;
}

.post-wrapper.strayhouse-post h3 {
  border-color: #333;
}

/* Armada */

.post-wrapper.armada-post .mockup {
  background: #dfd81e;
}

.post-wrapper.armada-post .mockup a {
  color: #333;
}

.post-wrapper.armada-post .mockup img {
  width: 100%;
}

.post-wrapper.armada-post blockquote p {
  color: #333;
}

.post-wrapper.armada-post .button {
  background: #dfd81e;
  color: #333;
}

.post-wrapper.armada-post .post-footer {
  background: #dfd81e;
}

.post-wrapper.armada-post .post-footer p {
  color: #333;
}

.post-wrapper.armada-post .values blockquote {
  margin: 0 30%;
}

.post-wrapper.armada-post .values blockquote p {
  color: #fff;
}

.post-wrapper.armada-post h3 {
  border-color: #333;
}

/* Qadosh */

.post-wrapper.qadosh-post .mockup {
  background: #b3dfd8;
}

.post-wrapper.qadosh-post .mockup a {
  color: #333;
}

.post-wrapper.qadosh-post .mockup img {
  width: 100%;
}

.post-wrapper.qadosh-post blockquote p {
  color: #333;
}

.post-wrapper.qadosh-post .button {
  background: #b3dfd8;
  color: #333;
}

.post-wrapper.qadosh-post .post-footer {
  background: #b3dfd8;
}

.post-wrapper.qadosh-post .post-footer p {
  color: #333;
}

.post-wrapper.qadosh-post .values blockquote {
  margin: 0 30%;
}

.post-wrapper.qadosh-post .values blockquote p {
  color: #fff;
}

.post-wrapper.qadosh-post h3 {
  border-color: #333;
}

/* FlatBill.me */

.post-wrapper.flatbill-post .mockup {
  background: #239a55;
}

.post-wrapper.flatbill-post .mockup a {
  color: #fff;
}

.post-wrapper.flatbill-post .mockup img {
  width: 100%;
}

.post-wrapper.flatbill-post blockquote p {
  color: #239a55;
}

.post-wrapper.flatbill-post .button {
  background: #239a55;
}

.post-wrapper.flatbill-post .post-footer {
  background: #239a55;
}

.post-wrapper.flatbill-post .values blockquote {
  margin: 0 30%;
}

.post-wrapper.flatbill-post .values blockquote p {
  color: #239a55;
}

.post-wrapper.flatbill-post h3 {
  border-color: #239a55;
}

/* responsive */

@media (max-width: 50em){
  h2 {
    font-size: 2em;
  }
}

@media only screen and (min-width: 30em) and (max-width: 64em) {
  #header {
    background-position: center center;
  }

  #contact .actions-wrapper {
    height: auto;
  }

  #about, #contact {
    padding: 4em 0;
  }

  #work .project {
    padding-top: 2rem;
  }

  #work .project .info {
    margin-bottom: 4rem;
    text-align: center;
  }

  #work .project img {
    width: 50%;
    text-align: center;
    margin: 0 auto;
  }
}

@media only screen and (max-width: 30em) {
  #header {
    background-position: center center;
    min-height: inherit;
  }

  #header h2 {
    width: 100%;
  }

  #about {
    padding: 2em 0;
  }

  #about p {
    text-align: justify;
    font-size: 1.3em;
  }

  #portfolio ul li {
    margin: 1em 0 0;
  }

  #portfolio h3 {
    width: 100%;
    padding: 0.5em 0;
  }

  #contact {
    padding: 2em 0;
  }

  #contact .actions-wrapper {
    height: auto;
  }

  #contact .connections {
    width: 100%;
    padding: 0 4rem;
  }

  #work .project {
    padding-top: 2rem;
  }

  #work .project .info {
    margin-bottom: 4rem;
  }

  #more-work p, .post-wrapper .post-footer p {
    line-height: 1.6;
    margin-bottom: 1rem;
  }

}
