---
layout: home
title: Scott Lesser | Ruby on Rails Developer | Oklahoma
---

<div id="header">
  <div class="row">
    <div class="large-12 columns">
      <div class="content">
        <div id="intro">
          <h2><strong>Rails Developer</strong> coding in the plains.</h2>
        </div>
        <div id="navigation">
          <a href="#about">About</a>
          <a href="#work">Work</a>
          <a href="#contact">Contact</a>
        </div>
      </div>
    </div>
  </div>
</div>
<div id="about">
  <div class="row">
    <div class="large-12 columns">
      <h2>Hello, I'm Scott Lesser. I'm a web developer living in Oklahoma, building applications and interfaces at <a href="http://life.church"><span>Life.Church</span></a>.</h2>
      <p>
        I'm passionate about crafting engaging user experiences and building cool apps.
        I spend my spare time freelancing, mentoring in the <a href="http://www.bbbsok.org/">Big Brothers Big Sisters</a>
        program, bombing at stand-up comedy, loving on my wife, Britnee and living that <i>#dadLife</i> with my son, Samuel and baby girl, Lucy.
        You can see some of my <a href="#work">recent work</a> below. I'd love to help you with your next
        great project, there's a <a href="#contact">contact form</a> and a few other ways to get in touch below.
      </p>
    </div>
  </div>
</div>
<div id="work">
  <div id="more-work">
    <div class="row">
      <div class="large-8 columns small-text-center large-only-text-left">
        <p>These are just a few of my recent projects, want to see more?</p>
      </div>
      <div class="large-4 columns large-only-text-right small-text-center">
        <a href="/work" class="button">See All of My Work <i class="fa fa-chevron-right"></i></a>
      </div>
    </div>
  </div>
  {% assign projects = (site.categories.featured | sort: 'featured-order') %}
  {% for project in projects %}
    {% capture odd_or_even %}{% cycle 'odd', 'even' %}{% endcapture %}
    <div class="{{project.project-id}} project" style="background-color: {{project.background-color}};">
      <div class="row">
        <div class="large-5 columns {% if odd_or_even == 'odd'%}large-push-7{% endif %} small-centered medium-6 large-uncentered">
          <div class="info">
            <h2>{{project.title}}</h2>
            <ul class="tags">
              {% for tag in project.tags limit:3 %}
                <li>{{tag}}</li>
              {% endfor %}
            </ul>
            <p>
              {{project.preview-text}}
            </p>
            <a href="{{project.url}}" class="button small">Read More about {{project.title}}</a>
          </div>
        </div>
        <div class="large-7 columns {% if odd_or_even == 'odd'%}large-pull-5{% endif %}">
          <img src="/img/posts/{{project.project-id}}-mockup.jpg">
        </div>
      </div>
    </div>
  {% endfor %}
</div>
<div id="more-work">
  <div class="row">
    <div class="large-8 columns small-text-center large-only-text-left">
      <p>These are just a few of my recent projects, want to see more?</p>
    </div>
    <div class="large-4 columns large-only-text-right small-text-center">
      <a href="/work" class="button">See All of My Work <i class="fa fa-chevron-right"></i></a>
    </div>
  </div>
</div>
<div id="contact">
  <div class="row">
    <div class="large-12 columns">
      <h2>Have some questions? Want to build something <strong>amazing</strong> with me?</h2>
      <div class="actions-wrapper">
        <a href="javascript:void(0);" class="button radius large show-contact">Start a Conversation</a>
        <h3>Thanks! We'll be in touch soon-ish.</h3>
        <form action="https://formkeep.com/f/74ad0e631f00" method="post">
          <!-- the redirect_to is optional, the form will redirect to the referrer on submission -->
          <!-- <input type='hidden' name='redirect_to' value='http://0.0.0.0:4000/#contact' /> -->
          <!-- all your input fields here.... -->
          <div class="row">
            <div class="small-12 large-9 large-centered columns">
              <div class="row">
                <div class="large-5 columns">
                  <input type='text' name='email' placeholder="Your email" class="email-name"/>
                </div>
                <div class="large-5 columns">
                  <input type='text' name='message' placeholder="Your message" class="email-message"/>
                </div>
                <div class="large-2 columns">
                  <input type='submit' value='Send' class="button radius small" />
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
      <h2>Or connect with me online.</h2>
      <div class="connections">
        <a href="http://twitter.com/okcscott"><i class="fa fa-twitter"></i></a>
        <a href="https://github.com/okcscott"><i class="fa fa-github"></i></a>
        <a href="http://instagram.com/okcscott"><i class="fa fa-instagram"></i></a>
        <i class="break"></i>
      </div>
    </div>
  </div>
</div>
<div id="thanks">
  <p>Thanks to <a href="http://twitter.com/ryantauss">@ryantauss</a> for the design help. Hosted with <a href="http://pages.github.com/">GitHub Pages</a>.</p>
</div>
