---
layout: home
title: Scott Lesser | Ruby on Rails Developer | Oklahoma
---

<div id="more-work">
  <div class="row">
    <div class="large-4 columns large-only-text-left small-text-center">
      <a href="/" class="button"><i class="fa fa-chevron-left"></i>Back to scottlesser.com</a>
    </div>
  </div>
</div>

<div id="work">
  {% for project in site.posts %}
    {% capture odd_or_even %}{% cycle 'odd', 'even' %}{% endcapture %}
    <div class="{{project.project-id}} project" style="background-color: {{project.background-color}};">
      <div class="row">
        <div class="large-5 columns {% if odd_or_even == 'odd'%}large-push-7{% endif %} small-centered medium-6 large-uncentered">
          <div class="info">
            <h2>{{project.title}}</h2>
            <ul class="tags">
              {% for tag in project.tags limit:3 %}
                <li>{{tag}}</li>
              {% endfor %}
            </ul>
            <p>
              {{project.preview-text}}
            </p>
            <a href="{{project.url}}" class="button small">Read More about {{project.title}}</a>
          </div>
        </div>
        <div class="large-7 columns {% if odd_or_even == 'odd'%}large-pull-5{% endif %}">
          <img src="/img/posts/{{project.project-id}}-mockup.jpg">
        </div>
      </div>
    </div>
  {% endfor %}
</div>
<div id="contact">
  <div class="row">
    <div class="large-12 columns">
      <h2>Have some questions? Want to build something <strong>amazing</strong> with me?</h2>
      <div class="actions-wrapper">
        <a href="javascript:void(0);" class="button radius large show-contact">Start a Conversation</a>
        <h3>Thanks! We'll be in touch soon-ish.</h3>
        <form action="https://formkeep.com/f/74ad0e631f00" method="post">
          <!-- the redirect_to is optional, the form will redirect to the referrer on submission -->
          <!-- <input type='hidden' name='redirect_to' value='http://0.0.0.0:4000/#contact' /> -->
          <!-- all your input fields here.... -->
          <div class="row">
            <div class="small-12 large-9 large-centered columns">
              <div class="row">
                <div class="large-5 columns">
                  <input type='text' name='email' placeholder="Your email" class="email-name"/>
                </div>
                <div class="large-5 columns">
                  <input type='text' name='message' placeholder="Your message" class="email-message"/>
                </div>
                <div class="large-2 columns">
                  <input type='submit' value='Send' class="button radius small" />
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
      <h2>Or connect with me online.</h2>
      <div class="connections">
        <a href="http://twitter.com/okcscott"><i class="fa fa-twitter"></i></a>
        <a href="https://github.com/okcscott"><i class="fa fa-github"></i></a>
        <a href="http://instagram.com/okcscott"><i class="fa fa-instagram"></i></a>
        <i class="break"></i>
      </div>
    </div>
  </div>
</div>
<div id="thanks">
  <p>Thanks to <a href="http://twitter.com/ryantauss">@ryantauss</a> for the design help. Hosted with <a href="http://pages.github.com/">GitHub Pages</a>.</p>
</div>
